PORT=<your setting>
NODE_ENV=development

# Prisma
DATABASE_URL="postgresql://johndoe:password@localhost:5432/mydb?schema=public"

# Postgres Docker
DATABASE_USERNAME=<your setting>
DATABASE_PASSWORD=<your setting>
DATABASE_NAME=<your setting>

# JWT
JWT_SECRET=<your setting>
JWT_EXPIRES=<your setting>

# Refresh Token
REFRESH_TOKEN_SECRET=<your setting>
REFRESH_TOKEN_EXPIRES=<your setting>

# Project Constants
PROJECT_SLUG=<your setting>

# Node Settings
ENVIRONMENT=development
