# Node Settings
ENVIRONMENT=<your setting>

# Project Constants
PROJECT_SLUG=<your setting>

# NestJS
PORT=<your setting>
JWT_SECRET=<your setting>
JWT_EXPIRES=<your setting>
REFRESH_TOKEN_SECRET=<your setting>
REFRESH_TOKEN_EXPIRES=<your setting>

# NextJS
AUTH_SECRET=<your setting>
AUTH_URL=<your setting>
AUTH_TRUST_HOST=<your setting>
NEXT_PUBLIC_AUTH_API_URL=<your setting>
NEXT_PUBLIC_API_URL=<your setting>
NEXT_PUBLIC_WEBSOCKET_URL=<your setting>

# Prisma
DATABASE_URL=<your setting>

# Postgres
DATABASE_USERNAME=<your setting>
DATABASE_PASSWORD=<your setting>
DATABASE_NAME=<your setting>